<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="./css/styles.css">
  <title>Title of the document</title>
</head>

<body>
  {{>header}}
  <p>{{info}}</p>
    {{>footer}}
</body>

</html>